# linearmouse can be replaced with scroll-reverser
# orbstack can be replaced with colima (but orbstack is better)
# xh and httpie is interchangebable
# wireguard is in appstore
# helium still need to be installed manually

- name: Install Core Packages With Brew
  community.general.homebrew:
    name:
      - fzf
      - neovim
      - zoxide
      - bat
      - fd
      - tmux
      - tldr
      - docker
      - docker-compose
      - kubectl
      - lazygit
      - stow
      - k9s
      - jq
      - k6
      - fortune
      - cowsay
      - sesh
      - ncdu
      - gh
      - xh
      - diff-so-fancy
      - mycli
      - pgcli
      - btop
      - mise
      - tw93/tap/mole
    state: present
    update_homebrew: true
  tags:
    - install
    - core-brew

- name: Install yazi and its optional deps
  community.general.homebrew:
    name:
      - yazi
      - ffmpeg
      - sevenzip
      - jq
      - poppler
      - fd
      - fzf
      - zoxide
      - resvg
      - imagemagick
      - font-symbols-only-nerd-font
    state: present
    update_homebrew: false
  tags:
    - install
    - core-brew

- name: Install Core Apps With Brew Cask
  community.general.homebrew_cask:
    name:
      - spotify
      - visual-studio-code
      - google-chrome
      - postman
      - qbittorrent
      - bitwarden
      - iina
      - bruno
      - raycast
      - orbstack
      - linearmouse
      - zen
      - httpie-desktop
      - cursor
      - karabiner-elements
      - parsec
      - upscayl
      - ghostty
      - windscribe
      - whatsapp
      - discord
      - obs
      - obsidian
      - localsend
      - zed
    state: present
  tags:
    - install
    - core-brew

- name: Install nerd fonts
  community.general.homebrew_cask:
    name:
      - font-jetbrains-mono-nerd-font
      - font-geist-mono-nerd-font
    state: present
  tags:
    - install
    - core-brew
    - font
