- name: Downloading docker
  get_url:
    url: https://get.docker.com
    dest: /tmp/get-docker.sh
    mode: "0755"
    force: true
  tags:
    - install
    - docker

- name: Install docker
  command: sh /tmp/get-docker.sh
  args:
    creates: /usr/bin/docker
  become: true
  tags:
    - install
    - docker

- name: Set user to Docker Group
  user:
    name: "{{ ansible_user_id }}"
    groups: docker
    append: true
  become: true
  tags:
    - install
    - docker

- name: Install docker-compose
  apt:
    name: docker-compose-plugin
    state: present
  become: true
  tags:
    - install
    - docker

- name: Install docker-compose v1 (legacy)
  get_url:
    url: https://github.com/docker/compose/releases/download/v2.39.2/docker-compose-linux-x86_64
    dest: /usr/local/bin/docker-compose
    mode: "0755"
    force: true
  become: true
  tags:
    - install
    - docker
    - docker-compose

- name: Update iptables for compatibility
  command: update-alternatives --set iptables /usr/sbin/iptables-legacy
  become: true
  changed_when: false
  failed_when: false
  tags:
    - install
    - docker
