- name: Download nvm installer
  get_url:
    url: https://raw.githubusercontent.com/nvm-sh/nvm/v0.39.4/install.sh
    dest: /tmp/nvm-install.sh
    mode: "0755"
  tags:
    - install
    - node

- name: Install nvm
  command: /tmp/nvm-install.sh
  args:
    creates: "{{ ansible_env.HOME }}/.nvm/nvm.sh"
  tags:
    - install
    - node

- name: Install correct version of Node
  shell: >
    . {{ ansible_env.HOME }}/.nvm/nvm.sh && nvm install {{ item }} --lts && nvm use {{ item }}
  args:
    executable: /bin/bash
    chdir: "{{ ansible_env.HOME }}"
    creates: "{{ ansible_env.HOME }}/.nvm/versions/{{ item }}"
  loop:
    - 20
  tags:
    - install
    - node
