- name: Download Installer
  get_url:
    url: https://sh.rustup.rs
    dest: /tmp/sh.rustup.rs
    mode: "0755"
    force: true
  tags:
    - install
    - rust

- name: Install rust/cargo
  shell: /tmp/sh.rustup.rs -y
  args:
    creates: "{{ ansible_env.HOME }}/.cargo/bin/rustup"
  tags:
    - install
    - rust
