- name: Install yank
  get_url:
    url: https://github.com/equalsraf/win32yank/releases/download/v0.1.1/win32yank-x64.zip
    dest: /tmp/win32yank.zip
    mode: "0755"
    force: "yes"
  tags:
    - install
    - linux-only
    - yank

- name: Unzip yank
  unarchive:
    src: /tmp/win32yank.zip
    dest: /tmp
    remote_src: true
    include:
      - win32yank.exe
  tags:
    - install
    - linux-only
    - yank

- name: Install yank binary
  copy:
    src: /tmp/win32yank.exe
    dest: /usr/local/bin/win32yank
    mode: "0755"
    remote_src: true
  become: true
  tags:
    - install
    - linux-only
    - yank

- name: Set yank tmux config
  blockinfile:
    path: ~/.tmux.conf
    insertbefore: "^set-option -g prefix C-a"
    create: yes
    marker: "# {mark} ANSIBLE MANAGED WIN32YANK"
    block: |
      # Win32yank clipboard configuration
      set -g @override_copy_command "win32yank -i"
  tags:
    - install
    - linux-only
    - dotfiles
    - yank

- name: Set yank tmux-thumbs config
  blockinfile:
    path: ~/.tmux.conf
    insertbefore: "^set-option -g prefix C-a"
    create: yes
    marker: "# {mark} ANSIBLE MANAGED WIN32YANK THUMBS"
    block: |
      # Overriding it on wsl for tmux-thumbs
      set -g @thumbs-command 'echo -n {} | win32yank -i'
  tags:
    - install
    - linux-only
    - dotfiles
    - yank
