- name: Install ZSH
  apt:
    name: zsh
    state: present
  become: true
  when: ansible_system == "Linux"
  tags: &tags_for_zsh_tasks ['install', 'dotfiles', 'zsh']

- name: Locate zsh binary
  command: which zsh
  register: zsh_binary
  changed_when: false
  tags: *tags_for_zsh_tasks

- name: Change shell to zsh
  user:
    name: "{{ ansible_user_id }}"
    shell: "{{ zsh_binary.stdout }}"
  become: true
  tags: *tags_for_zsh_tasks
